@font-face {
  font-family: "Poppins";
  src: url(./fuentes/Poppins-Regular.ttf);
}

/* SELECTOR UNIVERSAL */
/*
* {
  outline: 1px red solid;
}
*/

/* SELECTOR DE TIPO */

html {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: pink;
}

header {
  background-color: lightblue;
}

a {
  color: #333333;
  text-decoration: none;
}

/* SELECTOR DE CLASE */

.vinculos a {
  color: #000000;
}

.encabezado-principal {
  background-color: #fffaeb;
}

.encabezado-principal .vinculos a {
  color: #333333;
}

.contenido-principal {

}

.pie-principal {

}

/* SELECTOR DE ID */
/*
#contactos {

}
*/